:root {
    --cor-fundo: #ffffff;
    --cor-texto: #333;
    --cor-header: #FBDC2A;
    --cor-link: #573224;
    --cor-ativa: #ffa500;
    --cor-ativa2: #ff9900;
    --cor-borda: #00000057;
    --cor-footer: #F9E955;
    --cor-footer-bottom: #F8D720;
    --cor-contraste: #5d3a00;
    --cor-amarelo: #FFE600;
    --cor-laranja: #F8A520;
    --cor-destaque: #664032;
    --cor-preco: #ffe8cc;
    --cor-preco-icone: #a86a00;
    --cor-botao: #4a2c1d;
    --cor-botao-hover: #3a2014;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(150deg, var(--cor-header), var(--cor-ativa));
    padding: 10px 20px;
    border-bottom: 2px solid var(--cor-borda);
  }

  .logo img {
    height: 70px;
    width: auto;
  }
  
  nav {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 2;
    margin-left: 400px;
  }
  
  nav a {
    margin: 0 25px;
    text-decoration: none;
    color: var(--cor-link);
    font-size: 16px;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px 14px;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    background-color: var(--cor-laranja);
    color: white;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);
  }
  
  nav .active {
    background-color: var(--cor-ativa);
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  